.page-section {
  background-image: url(../images/bg-2.jpg);
  background-position: top center;
  background-size: cover;

  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(107.54deg, rgba(23, 26, 28, 0.72) 0%, #5E5E57 100%);
    opacity: 0.15;
  }
  &__wrapper{
    z-index: 1;
    min-height: 100vh;
    padding: 74px 0 50px;
  }
}

//header {
//  height: 100vh;
//  background-image: url(../images/bg.jpg);
//  background-position: top center;
//  background-size: cover;
//}

.scroll__btn {
  padding: 13px 0 40px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;

}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  @extend %sf-regular;
  font-size: 44px;
  line-height: 53px;
  padding-left: 25px;
  margin-bottom: 55px;
  padding-top: 200px;
}
