
//- section.page-section.contacts
//-   .container
//-     h3.title &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
//-     .contacts__inner
//-       .contacts__info
//-         .contacts__info-box
//-           p.contacts__info-title &Kcy;&icy;&iecy;&vcy;
//-           a.contacts__info-phone(href='tel:+70505676767') +8 (050) 567&ndash; 67 &ndash; 67
//-           a.contacts__info-email(href='mailto:dgi.mavic2pro.kiev@mail.ru') dgi.mavic2pro.kiev@mail.ru
//-         .contacts__info-box
//-           p.contacts__info-title &Mcy;&ocy;&scy;&kcy;&vcy;&acy;
//-           a.contacts__info-phone(href='tel:+74995676767') +7 (499) 567&ndash; 67 &ndash; 67
//-           a.contacts__info-email(href='dgi.mavic2pro.moscow@mail.ru') dgi.mavic2pro.moscow@mail.ru
//-         .contacts__info-box
//-           p.contacts__info-title &Mcy;&icy;&ncy;&scy;&kcy;
//-           a.contacts__info-phone(href='tel:+375175676767') +3 (7517) 567&ndash; 67 &ndash; 67
//-           a.contacts__info-email(href='dgi.mavic2pro.minsk@mail.ru') dgi.mavic2pro.minsk@mail.ru
//-       .contacts__item
//-         form
//-           h4.contacts__form-title &Ocy;&scy;&tcy;&acy;&lcy;&icy;&scy;&softcy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;?
//-           p.contacts__form-text &Mcy;&ycy; &ocy;&bcy;&yacy;&zcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy; &scy;&vcy;&yacy;&zhcy;&iecy;&mcy;&scy;&yacy; &scy; &vcy;&acy;&mcy;&icy; &vcy; &tcy;&iecy;&chcy;&iecy;&ncy;&icy;&iecy; &dcy;&vcy;&ucy;&khcy; &rcy;&acy;&bcy;&ocy;&chcy;&icy;&khcy; &dcy;&ncy;&iecy;&jcy;
//-           .contacts__form-line
//-             input.contacts__form-input(type='text' placeholder='Ваше имя')
//-             input.contacts__form-input(type='email' placeholder='Ваш e-mail')
//-             textarea.contacts__form-textarea(name='' placeholder='Что вас интересует?' id='' cols='30' rows='10')
//-             button.contacts__form-btn &Ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&tcy;&softcy;
//-       .contacts__item
//-         li.contacts__social-list
//-         li.contacts__social-item
//-           a.top__social-link(href='#')
//-             img(src='images/fb.svg' alt='fb')
//-         li.contacts__social-item
//-           a.top__social-link(href='#')
//-             img(src='images/youtube.svg' alt='youtube')
//-         li.contacts__social-item
//-           a.top__social-link(href='#')
//-             img(src='images/instagram.svg' alt='instagram')
//-   .scroll__btn
//-     a(href='#')
//-       img(src='images/arrow-down.svg' alt='arrow-down')
//-

//-
