-   var questions = [{'title': "Какие отличия между Mavic 2 Pro и Mavic 2 Zoom?", 'text': "В Mavic 2 улучшены практически все аспекты: камера, передача видеосигнала, полётное время, скорость, уровень шума, обнаружение препятствий в нескольких направлениях, интеллектуальные функции и уникальная функция Hyperlapse (гиперлапс)."}, {'title': "Какие отличия между Mavic 2 Pro и Mavic 2 Zoom?", 'text': ""}, {'title': "Можно ли подключить Mavic 2 к очкам DJI Goggles?", 'text': ""}, {'title': "Является ли Mavic 2 водонепроницаемым？", 'text': ""}]

each question, index in questions
	.questions__item
		h4.questions__item-title= question.title
		.questions__item-text= question.text