section.page-section.contacts(id='contacts')
	.page-section__wrapper
		.container
			h3.title Контакты
			.contacts__inner
				.contacts__info
					include parts/_contact-box.pug
				.contacts__item
					form.contacts__form
						h4.contacts__form-title Остались вопросы?
						p.contacts__form-text Мы обязательно свяжемся с вами в течение двух рабочих дней
						.contacts__form-line
							input.contacts__form-input(type='text' placeholder='Ваше имя')
							input.contacts__form-input(type='email' placeholder='Ваш e-mail')
						textarea.contacts__form-textarea(name='' placeholder='Что вас интересует?' id='' cols='30' rows='10')
						button.contacts__form-btn Отправить
				ul.contacts__social-list
					li.contacts__social-item
						a.top__social-link(href='#')
							img(src='images/fb.svg' alt='fb')
					li.contacts__social-item
						a.top__social-link(href='#')
							img(src='images/you-tube.svg' alt='youtube')
					li.contacts__social-item
						a.top__social-link(href='#')
							img(src='images/instagram.svg' alt='instagram')
			footer.footer
				p.footer__copy © DJI, 2020