header.header
  .container
    .header__inner
      a.logo(href='')
        picture
          source(srcset='images/logo-mobile.png' media='(max-width: 600px)')
          img(src='images/logo.png' alt='logo')
      nav.menu
        ul.menu__list
          li.menu__list-item
            a.menu__list-link(href='#') О ДРОНЕ
          li.menu__list-item
            a.menu__list-link(href='#') ПРЕИМУЩЕСТВА
          li.menu__list-item
            a.menu__list-link(href='#') ХАРАКТЕРИСТИКИ
          li.menu__list-item
            a.menu__list-link(href='#') ВОПРОСЫ
          li.menu__list-item
            a.menu__list-link(href='#') КОНТАКТЫ
      .header__info
        button.header__btn купить
        a.header__phone(href='tel:+70505676767') 8 (050) 567 67 67