section.page-section.top
	.page-section__wrapper.top__wrapper
		.container
			.top__inner
				h1.top__title Mavic 2 Pro
				img(src='images/dron.png' alt='')
				p.top__text Квадрокоптер Dji Mavic 2 Pro с профессиональной камерой Hasselblad
				ul.top__social-list
					li.top__social-item
						a.top__social-link(href='#')
							img(src='images/fb.svg' alt='fb')
					li.top__social-item
						a.top__social-link(href='#')
							img(src='images/you-tube.svg' alt='youtube')
					li.top__social-item
						a.top__social-link(top__social-linkhref='#')
							img(src='images/instagram.svg' alt='instagram')
			+scroll('#products')
