section.page-section.specification(id='specification')
	.page-section__wrapper
		.container
			h3.title Характеристики
			.specification__inner
				include parts/_specification-items.pug
				.specification__item
					img(src='images/mavic.png' alt='mavic')
			include parts/_scroll-btn.pug