section.page-section.specification(id='specification')
	.page-section__wrapper
		.container
			h3.title Характеристики
			.specification__inner
				include parts/_specification-items.pug

			include parts/_scroll-btn.pug